{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar Cliente{% endblock %}

{% block content %}
<div class="container">
    <h1>Eliminar Cliente</h1>
    <p>¿Estás seguro de que deseas eliminar el cliente "{{ cliente }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'clientes:cliente-detail' cliente.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
