<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
</head>
<body>
    <h1>Bienvenido a la sección de Clientes</h1>
    <button onclick="location.href='/clientes/crear/'">Crear Cliente</button>
    <button onclick="location.href='/clientes/listar/'">Listar Clientes</button>
    <button onclick="location.href='/clientes/detalle/'">Detalle de Cliente</button>
    <button onclick="location.href='/clientes/editar/'">Editar Cliente</button>
    <button onclick="location.href='/clientes/eliminar/'">Eliminar Cliente</button>
</body>
</html>
