{% extends 'base.html' %}

{% block title %}Lista de Sesiones de Fotos{% endblock %}

{% block content %}
<h1>Lista de Sesiones de Fotos</h1>
<a href="{% url 'crear_sesion_foto' %}">Crear Nueva Sesión de Fotos</a>
<ul>
    {% for sesion_foto in sesiones_fotos %}
        <li>
            <a href="{% url 'detalle_sesion_foto' sesion_foto.pk %}">{{ sesion_foto.id_sesion }}</a>
            <a href="{% url 'editar_sesion_foto' sesion_foto.pk %}">Editar</a>
            <a href="{% url 'eliminar_sesion_foto' sesion_foto.pk %}">Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
    