{% extends "base.html" %}
{% load static %}

{% block title %}Eliminar Sesión de Fotos{% endblock %}

{% block content %}
<div class="container">
    <h1>Eliminar Sesión de Fotos</h1>
    <p>¿Estás seguro de que deseas eliminar la sesión de fotos "{{ sesion }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'sesiones_fotos:sesionfoto-detail' sesion.id %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
