<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Sesiones de Fotos</title>
</head>
<body>
    <h1>Listar Sesiones de Fotos</h1>
    <ul>
        {% for sesion_foto in sesiones_fotos %}
            <li>{{ sesion_foto.nombre }} - <a href="{% url 'sesion_foto_detail' sesion_foto.id %}">Detalle</a> - <a href="{% url 'sesion_foto_edit' sesion_foto.id %}">Editar</a> - <a href="{% url 'sesion_foto_delete' sesion_foto.id %}">Eliminar</a></li>
        {% endfor %}
    </ul>
</body>
</html>
