<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmar Eliminación</title>
</head>
<body>
    <h1>Confirmar Eliminación de la Sesión de Fotos</h1>
    <p>¿Estás seguro de que deseas eliminar la sesión de fotos {{ sesion.id_sesion }}?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Eliminar</button>
    </form>
    <a href="{% url 'sesionfoto_list' %}">Volver a la lista</a>
</body>
</html>
