{% extends 'base.html' %}

{% block title %}Lista de Pedidos{% endblock %}

{% block content %}
<h1>Lista de Pedidos</h1>
<a href="{% url 'crear_pedido' %}">Crear Nuevo Pedido</a>
<ul>
    {% for pedido in pedidos %}
        <li>
            <a href="{% url 'detalle_pedido' pedido.pk %}">{{ pedido.id_pedido }}</a>
            <a href="{% url 'editar_pedido' pedido.pk %}">Editar</a>
            <a href="{% url 'eliminar_pedido' pedido.pk %}">Eliminar</a>
        </li>
    {% endfor %}
</ul>
{% endblock %}
