<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Pedidos</title>
</head>
<body>
    <h1>Listar Pedidos</h1>
    <ul>
        {% for pedido in pedidos %}
            <li>{{ pedido.nombre }} - <a href="{% url 'pedido_detail' pedido.id %}">Detalle</a> - <a href="{% url 'pedido_edit' pedido.id %}">Editar</a> - <a href="{% url 'pedido_delete' pedido.id %}">Eliminar</a></li>
        {% endfor %}
    </ul>
</body>
</html>
