/* static/css/style.css */
body {
    background-color: #f0f0f0;
}


/* static/css/style.css */
.select2-container {
    width: 100% !important;
}

.select2-selection {
    min-height: 40px; /* Ajusta la altura mínima del campo según tus necesidades */
    padding: 5px; /* Ajusta el padding según tus necesidades */
}

.select2-selection__rendered {
    line-height: 30px; /* Ajusta la altura de línea según tus necesidades */
}

.select2-search__field {
    width: 100% !important; /* Asegúrate de que el campo de búsqueda tenga el ancho completo */
}
