<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <h1>Bienvenido a la sección de Productos</h1>
    <button onclick="location.href='/productos/crear/'">Crear Producto</button>
    <button onclick="location.href='/productos/listar/'">Listar Productos</button>
    <button onclick="location.href='/productos/detalle/'">Detalle de Producto</button>
    <button onclick="location.href='/productos/editar/'">Editar Producto</button>
    <button onclick="location.href='/productos/eliminar/'">Eliminar Producto</button>
</body>
</html>
