{% extends "base.html" %}
{% load static %}

{% block title %}Confirmar Eliminación de Producto de Alquiler{% endblock %}

{% block content %}
<div class="container">
    <h1>Confirmar Eliminación</h1>
    <p>¿Estás seguro de que deseas eliminar este producto de alquiler?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'productos:producto-alquiler-list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
