<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <a href="{% url 'producto_create' %}">Crear Nuevo Producto</a>
    <ul>
        {% for producto in productos %}
            <li>
                <a href="{% url 'producto_detail' producto.id_producto %}">
                    {{ producto.nombre }} - {{ producto.categoria }}
                </a>
                <a href="{% url 'producto_update' producto.id_producto %}">Editar</a>
                <a href="{% url 'producto_delete' producto.id_producto %}">Eliminar</a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
