{% extends "base.html" %}
{% load static %}

{% block title %}Detalle del Producto{% endblock %}

{% block content %}
<div class="container">
    <h1>{{ producto.descripcion }}</h1>
    {% if producto.image %}
        <img src="{{ producto.image.url }}" alt="{{ producto.nombre }}" class="img-fluid">
    {% endif %}
    <p><strong>Categoría:</strong> {{ producto.categoria }}</p>
    <p><strong>Nombre:</strong> {{ producto.nombre }}</p>
    <p><strong>Color:</strong> {{ producto.color }}</p>
    <p><strong>Talla:</strong> {{ producto.talla }}</p>
    <p><strong>Precio:</strong> {{ producto.pvp }}€</p>
    <p><strong>Estado:</strong> {{ producto.estado }}</p>
    <p><strong>Descripción:</strong> {{ producto.descripcion }}</p>

    {% if stock %}
        <h2>Stock por Tienda</h2>
        <p><strong>{{ producto.tienda }}</strong>: {{ stock }}</p>
    {% endif %}

    {% if cantidad %}
        <h2>Disponibilidad</h2>
        <p>{{ cantidad }} unidades</p>
    {% endif %}
    
    <a href="{% url 'productos:producto-venta-list' %}" class="btn btn-primary">Volver</a>
</div>
{% endblock %}
