{% extends "base.html" %}
{% load static %}

{% block title %}Confirmar Eliminación del Producto{% endblock %}

{% block content %}
<div class="container">
    <h1>Confirmar Eliminación del Producto</h1>
    <p>¿Estás seguro que deseas eliminar el producto "{{ object.nombre }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Eliminar</button>
        <a href="{% url 'productos:producto-detail' object.pk %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
