<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listar Ventas</title>
</head>
<body>
    <h1>Listar Ventas</h1>
    <ul>
        {% for venta in ventas %}
            <li>{{ venta.nombre }} - <a href="{% url 'venta_detail' venta.id %}">Detalle</a> - <a href="{% url 'venta_edit' venta.id %}">Editar</a> - <a href="{% url 'venta_delete' venta.id %}">Eliminar</a></li>
        {% endfor %}
    </ul>
</body>
</html>
