{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Ventas{% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de Ventas</h1>
    <a href="{% url 'ventas:venta-create' %}" class="btn btn-success mb-3">Crear Nueva Venta</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID Venta</th>
                <th>Cliente</th>
                <th>Total a Pagar</th>
                <th>Total Pagado</th>
                <th>Pendiente de Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for venta in ventas %}
                <tr>
                    <td>{{ venta.id_venta }}</td>
                    <td>{{ venta.cliente }}</td>
                    <td>{{ venta.total_a_pagar }}</td>
                    <td>{{ venta.total_pagado }}</td>
                    <td>{{ venta.pendiente_de_pago }}</td>
                    <td>
                        <a href="{% url 'ventas:venta-detail' venta.id_venta %}" class="btn btn-primary">Ver</a>
                        <a href="{% url 'ventas:venta-update' venta.id_venta %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'ventas:venta-delete' venta.id_venta %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
