<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios</title>
</head>
<body>
    <h1>Bienvenido a la sección de Usuarios</h1>
    <button onclick="location.href='/usuarios/crear/'">Crear Usuario</button>
    <button onclick="location.href='/usuarios/listar/'">Listar Usuarios</button>
    <button onclick="location.href='/usuarios/detalle/'">Detalle de Usuario</button>
    <button onclick="location.href='/usuarios/editar/'">Editar Usuario</button>
    <button onclick="location.href='/usuarios/eliminar/'">Eliminar Usuario</button>
</body>
</html>
