<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagos</title>
</head>
<body>
    <h1>Bienvenido a la sección de Pagos</h1>
    <button onclick="location.href='/pagos/crear/'">Crear Pago</button>
    <button onclick="location.href='/pagos/listar/'">Listar Pagos</button>
    <button onclick="location.href='/pagos/detalle/'">Detalle de Pago</button>
    <button onclick="location.href='/pagos/editar/'">Editar Pago</button>
    <button onclick="location.href='/pagos/eliminar/'">Eliminar Pago</button>
</body>
</html>
