<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Pago</title>
</head>
<body>
    <h1>Detalles del Pago</h1>
    <p><strong>ID Pago:</strong> {{ pago.id_pago }}</p>
    <p><strong>Venta:</strong> {{ pago.venta.id_venta }}</p>
    <p><strong>Cantidad:</strong> {{ pago.cantidad }} €</p>
    <p><strong>Método de Pago:</strong> {{ pago.metodo_pago }}</p>
    <p><strong>Referencia del Pago:</strong> {{ pago.referencia_pago }}</p>
    <p><strong>Comentarios:</strong> {{ pago.comentarios }}</p>
    <p><strong>Estado del Pago:</strong> {{ pago.estado_pago }}</p>
    <a href="{% url 'pago_update' pago.id_pago %}">Editar</a>
    <a href="{% url 'pago_list' %}">Volver a la lista</a>
</body>
</html>
