{% extends "base.html" %}
{% load static %}

{% block title %}Detalle del Pago{% endblock %}

{% block content %}
<div class="container">
    <h1>Detalle del Pago</h1>
    <table class="table table-bordered">
        <tr>
            <th>ID Pago</th>
            <td>{{ pago.id_pago }}</td>
        </tr>
        <tr>
            <th>Venta</th>
            <td>{{ pago.venta.id_venta }}</td>
        </tr>
        <tr>
            <th>Cantidad</th>
            <td>{{ pago.cantidad }}</td>
        </tr>
        <tr>
            <th>Método de Pago</th>
            <td>{{ pago.metodo_pago }}</td>
        </tr>
        <tr>
            <th>Comentarios</th>
            <td>{{ pago.comentarios }}</td>
        </tr>
        <tr>
            <th>Estado del Pago</th>
            <td>{{ pago.estado_pago }}</td>
        </tr>
    </table>
    <a href="{% url 'pagos:pago-update' pago.pk %}" class="btn btn-warning">Editar</a>
    <a href="{% url 'pagos:pago-delete' pago.pk %}" class="btn btn-danger">Eliminar</a>
    <a href="{% url 'pagos:pago-list' %}" class="btn btn-secondary">Volver a la lista</a>
</div>
{% endblock %}
