{% extends "base.html" %}
{% load static %}

{% block title %}Lista de Pagos{% endblock %}

{% block content %}
<div class="container">
    <h1>Lista de Pagos</h1>
    <a href="{% url 'pagos:pago-create' %}" class="btn btn-success mb-3">Crear Nuevo Pago</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID Pago</th>
                <th>Venta</th>
                <th>Cantidad</th>
                <th>Estado del Pago</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for pago in pagos %}
                <tr>
                    <td>{{ pago.id_pago }}</td>
                    <td>{{ pago.venta.id_venta }}</td>
                    <td>{{ pago.cantidad }}</td>
                    <td>{{ pago.estado_pago }}</td>
                    <td>
                        <a href="{% url 'pagos:pago-detail' pago.pk %}" class="btn btn-primary">Ver</a>
                        <a href="{% url 'pagos:pago-update' pago.pk %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'pagos:pago-delete' pago.pk %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
